/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 600px;
    height: 120%;
    max-width: 90%; /* Limit maximum width to maintain responsiveness */
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-front {
    z-index: 2;
    width: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input-group > div {
    width: calc(50% - 10px);
    margin-right: 20px;
}

.input-group > div:last-child {
    margin-right: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #66c1f1; /* Bright pastel blue */
}

button {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    background-color: #f39ac4; /* Pastel pink */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e573a8; /* Darker shade of pastel pink */
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
