body {
    margin: 0;
    padding: 0;
    background-image: url("doc2.jpg.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
}
